<!--///////////////////
////////  1   /////////
///////////////////////
////////////////////-->
<!-- list -->
<div class="list list--mb10">
<!-- headline -->
    <div class="headline">
        <div class="middle">
            <img src="//cdn-img.auone.jp/pass/asset/sp/game/img/cup.png">
        </div>
        <h3 style="line-height:1em;">おすすめ！ 10％還元ゲーム</h3>
        <!--/////もっと見る/////-->
        <div class="t-crosshead__ex">
            <a href="//game.auone.jp/list/" onclick="trEventBe(this,'auゲーム','トップページ','おすすめアプリ枠1_もっと見る',event);" class="t-crosshead__button">もっとみる</a>
        </div>
        <!--//////////////////-->
    </div>
    <!-- /headline -->
    <!-- grid -->
    <div class="t-grid top-grid top-grid--bt0">
        <ul class="t-grid__3columns top-grid">
            <li class="t-grid__column">
                <div class="t-grid__inner">
                    <p class="game-top__order--icon-mt0"><i class="recommend-icon recommend-icon__a01 game-top__order--recommend-icon"></i></p>
                    <a href="//pass.auone.jp/app/detail?app_id=5235400000001&amp;rf=gameportal" class="icon-display--b" onclick="trEventBe(this,'auゲーム','トップページ',おすすめアプリ枠1_[サウザンドメモリーズ]<可変動的>',event);">
                        <img src="//cdn-img.auone.jp/pass/asset/sp/game/img/transfer/1410/icon_5235400000001.png" alt="">
                    </a>
                    <div class="grid__inner-wrap">
                        <div class="grid__inner-right"><p>サウザンドメモリーズ</p></div>
                    </div>
                </div>
            </li>
            <li class="t-grid__column">
                <div class="t-grid__inner">
                    <p class="game-top__order--icon-mt0"><i class="recommend-icon recommend-icon__a02 game-top__order--recommend-icon"></i></p>
                    <a href="//pass.auone.jp/app/detail?app_id=4698010000035&amp;rf=gameportal" class="icon-display--b" onclick="trEventBe(this,'auゲーム','トップページ','おすすめアプリ枠1_[スリングショットブレイブズ]<可変動的>',event);">
                        <img src="//cdn-img.auone.jp/pass/asset/sp/game/img/transfer/1410/icon_4698010000035.png" alt="">
                    </a>
                    <div class="grid__inner-wrap">
                        <div class="grid__inner-right"><p>スリングショットブレイブズ</p></div>
                    </div>
                </div>
            </li>
            <li class="t-grid__column">
                <div class="t-grid__inner">
                    <p class="game-top__order--icon-mt0"><i class="recommend-icon recommend-icon__a03 game-top__order--recommend-icon"></i></p>
                    <a href="//pass.auone.jp/app/detail?app_id=4698010000039&amp;rf=gameportal" class="icon-display--b" onclick="trEventBe(this,'auゲーム','トップページ','おすすめアプリ枠1_[ドラゴンファング]<可変動的>',event);">
                        <img src="//cdn-img.auone.jp/pass/asset/sp/game/img/transfer/1410/icon_4585600000001.png" alt="">
                    </a>
                    <div class="grid__inner-wrap">
                        <div class="grid__inner-right"><p>ドラゴンファング</p></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- /grid -->
</div>
<!-- /list -->
<!--///////////////////
///////////////////////
////////  2   /////////
///////////////////////
////////////////////-->
<!-- list -->
<div class="list list--mb10">
    <!-- headline -->
    <div class="headline">
        <div class="middle">
            <img src="//cdn-img.auone.jp/pass/asset/sp/game/img/cup.png">
        </div>
        <h3 style="line-height:1em;">新着ゲーム</h3>
        <!--/////もっと見る/////-->
<!--         <div class="t-crosshead__ex">
            <a href="//game.auone.jp/list/" onclick="trEventBe(this,'auゲーム','トップページ','おすすめアプリ枠2_もっと見る',event);" class="t-crosshead__button">もっとみる</a>
        </div>
        <!--//////////////////-->
    </div>
    <!-- /headline -->
    <!-- grid -->
    <div class="t-grid top-grid top-grid--bt0">
        <ul class="t-grid__3columns top-grid">
            <li class="t-grid__column">
                <div class="t-grid__inner">
                    <p class="game-top__order--icon-mt0"><i class="recommend-icon recommend-icon__b01 game-top__order--recommend-icon"></i></p>
                    <a href="//pass.auone.jp/app/detail?app_id=3208610000001&amp;rf=gameportal" class="icon-display--b" onclick="trEventBe(this,'auゲーム','トップページ',おすすめアプリ枠2_[ザキヤマのクイズがくる～!?]<可変動的>',event);">
                        <img src="//img.au-market.com/mapi/pc_icon/32086/3208610000001/m_89714_99911.png" alt="">
                    </a>
                    <div class="grid__inner-wrap">
                        <div class="grid__inner-right"><p>ザキヤマのクイズがくる～!?</p></div>
                    </div>
                </div>
            </li>
            <li class="t-grid__column">
                <div class="t-grid__inner">
                    <p class="game-top__order--icon-mt0"><i class="recommend-icon recommend-icon__b02 game-top__order--recommend-icon"></i></p>
                    <a href="//pass.auone.jp/app/detail?app_id=3658910000015&amp;rf=gameportal" class="icon-display--b" onclick="trEventBe(this,'auゲーム','トップページ','おすすめアプリ枠2_[CRヱヴァンゲリヲン9]<可変動的>',event);">
                        <img src="//img.au-market.com/mapi/pc_icon/36589/3658910000015/h_88956_98688.png" alt="">
                    </a>
                    <div class="grid__inner-wrap">
                        <div class="grid__inner-right"><p>CRヱヴァンゲリヲン9</p></div>
                    </div>
                </div>
            </li>
            <li class="t-grid__column">
                <div class="t-grid__inner">
                    <p class="game-top__order--icon-mt0"><i class="recommend-icon recommend-icon__b03 game-top__order--recommend-icon"></i></p>
                    <a href="//pass.auone.jp/app/detail?app_id=8687610000010&amp;rf=gameportal" class="icon-display--b" onclick="trEventBe(this,'auゲーム','トップページ','おすすめアプリ枠2_[アニメスタジオ物語]<可変動的>',event);">
                        <img src="//img.au-market.com/mapi/pc_icon/86876/8687610000010/h_89292_99262.png" alt="">
                    </a>
                    <div class="grid__inner-wrap">
                        <div class="grid__inner-right"><p>アニメスタジオ物語</p></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- /grid -->
</div>
<!-- /list -->
<!--///////////////////
///////////////////////
////////  3   /////////
///////////////////////
////////////////////-->
<!-- list -->
<div class="list list--mb10">
    <!-- headline -->
    <div class="headline">
        <div class="middle">
            <img src="//cdn-img.auone.jp/pass/asset/sp/game/img/cup.png">
        </div>
        <h3 style="line-height:1em;">ウィークリーランキング</h3>
        <!--/////もっと見る/////-->
        <div class="t-crosshead__ex">
    <a href="//game.auone.jp/index.php/ranking/index?ranking_kind=WEEK&amp;category_id=001" onclick="trEventBe(this,'auゲーム','トップページ','おすすめアプリ枠3_もっと見る',event);" class="t-crosshead__button">もっとみる</a>
</div>
        <!--//////////////////-->
    </div>
    <!-- /headline -->
    <!-- grid -->
    <div class="t-grid top-grid top-grid--bt0">
        <ul class="t-grid__3columns top-grid">
            <li class="t-grid__column">
                <div class="t-grid__inner">
                    <p class="game-top__order--icon-mt0"><i class="recommend-icon recommend-icon__c01 game-top__order--recommend-icon"></i></p>
                    <a href="//pass.auone.jp/app/detail?app_id=3658910000015&amp;rf=gameportal" class="icon-display--b" onclick="trEventBe(this,'auゲーム','トップページ',おすすめアプリ枠3_[CRヱヴァ9]<可変動的>',event);">
                        <img src="//img.au-market.com/mapi/pc_icon/36589/3658910000015/h_88956_98688.png" alt="">
                    </a>
                    <div class="grid__inner-wrap">
                        <div class="grid__inner-right"><p>CRヱヴァ9</p></div>
                    </div>
                </div>
            </li>
            <li class="t-grid__column">
                <div class="t-grid__inner">
                    <p class="game-top__order--icon-mt0"><i class="recommend-icon recommend-icon__c02 game-top__order--recommend-icon"></i></p>
                    <a href="//pass.auone.jp/app/detail?app_id=8687610000010&amp;rf=gameportal" class="icon-display--b" onclick="trEventBe(this,'auゲーム','トップページ','おすすめアプリ枠3_[アニメスタジオ物語]<可変動的>',event);">
                        <img src="//img.au-market.com/mapi/pc_icon/86876/8687610000010/h_89292_99262.png" alt="">
                    </a>
                    <div class="grid__inner-wrap">
                        <div class="grid__inner-right"><p>アニメスタジオ物語</p></div>
                    </div>
                </div>
            </li>
            <li class="t-grid__column">
                <div class="t-grid__inner">
                    <p class="game-top__order--icon-mt0"><i class="recommend-icon recommend-icon__c03 game-top__order--recommend-icon"></i></p>
                    <a href="//pass.auone.jp/app/detail?app_id=7530910000008&amp;rf=gameportal" class="icon-display--b" onclick="trEventBe(this,'auゲーム','トップページ','おすすめアプリ枠3_[ゴートシミュレーター]<可変動的>',event);">
                        <img src="//img.au-market.com/mapi/pc_icon/75309/7530910000008/m_89665_99839.png" alt="">
                    </a>
                    <div class="grid__inner-wrap">
                        <div class="grid__inner-right"><p>ゴートシミュレーター</p></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- /grid -->
</div>
<!-- /list -->
<!--///////////////////
///////////////////////
////////  4   /////////
///////////////////////
////////////////////-->
<!-- list -->
<div class="list list--mb10">
    <!-- headline -->
    <div class="headline">
        <div class="middle">
            <img src="//cdn-img.auone.jp/pass/asset/sp/game/img/cup.png">
        </div>
        <h3 style="line-height:1em;">パズルランキング</h3>
        <!--/////もっと見る/////-->
        <div class="t-crosshead__ex">
            <a href="//game.auone.jp/index.php/ranking/index?ranking_kind=WEEK&amp;category_id=001002" onclick="trEventBe(this,'auゲーム','トップページ','おすすめアプリ枠4_もっと見る',event);" class="t-crosshead__button">もっとみる</a>
        </div>
        <!--//////////////////-->
    </div>
    <!-- /headline -->
    <!-- grid -->
    <div class="t-grid top-grid top-grid--bt0">
        <ul class="t-grid__3columns top-grid">
            <li class="t-grid__column">
                <div class="t-grid__inner">
                    <p class="game-top__order--icon-mt0"><i class="recommend-icon recommend-icon__a01 game-top__order--recommend-icon"></i></p>
                    <a href="//pass.auone.jp/app/detail?app_id=5268810000005&amp;rf=gameportal" class="icon-display--b" onclick="trEventBe(this,'auゲーム','トップページ',おすすめアプリ枠4_[□いアタマを○くする]<可変動的>',event);">
                        <img src="//img.au-market.com/mapi/pc_icon/52688/5268810000005/h_67368_61559.png" alt="">
                    </a>
                    <div class="grid__inner-wrap">
                        <div class="grid__inner-right"><p>□いアタマを○くする</p></div>
                    </div>
                </div>
            </li>
            <li class="t-grid__column">
                <div class="t-grid__inner">
                    <p class="game-top__order--icon-mt0"><i class="recommend-icon recommend-icon__a02 game-top__order--recommend-icon"></i></p>
                    <a href="//pass.auone.jp/app/detail?app_id=7401000000001&amp;rf=gameportal" class="icon-display--b" onclick="trEventBe(this,'auゲーム','トップページ','おすすめアプリ枠4_[Q for au]<可変動的>',event);">
                        <img src="//img.au-market.com/mapi/pc_icon/74010/7401000000001/m_89317_99300.png" alt="">
                    </a>
                    <div class="grid__inner-wrap">
                        <div class="grid__inner-right"><p>Q for au</p></div>
                    </div>
                </div>
            </li>
            <li class="t-grid__column">
                <div class="t-grid__inner">
                    <p class="game-top__order--icon-mt0"><i class="recommend-icon recommend-icon__a03 game-top__order--recommend-icon"></i></p>
                    <a href="//pass.auone.jp/app/detail?app_id=3928010000003&amp;rf=gameportal" class="icon-display--b" onclick="trEventBe(this,'auゲーム','トップページ','おすすめアプリ枠4_[2048 パズルゲーム]<可変動的>',event);">
                        <img src="//img.au-market.com/mapi/pc_icon/39280/3928010000003/h_89547_99673.png" alt="">
                    </a>
                    <div class="grid__inner-wrap">
                        <div class="grid__inner-right"><p>2048「パズルゲーム」</p></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- /grid -->
</div>
<!-- /list -->
<!--///////////////////
///////////////////////
////////  5   /////////
///////////////////////
////////////////////-->
<!-- list -->
<div class="list list--mb10">
    <!-- headline -->
    <div class="headline">
        <div class="middle">
            <img src="//cdn-img.auone.jp/pass/asset/sp/game/img/cup.png">
        </div>
        <h3 style="line-height:1em;">ロールプレイングランキング</h3>
        <!--/////もっと見る/////-->
        <div class="t-crosshead__ex">
            <a href="//game.auone.jp/list/" onclick="trEventBe(this,'auゲーム','トップページ','おすすめアプリ枠5_もっと見る',event);" class="t-crosshead__button">もっとみる</a>
        </div>
        <!--//////////////////-->
    </div>
    <!-- /headline -->
    <!-- grid -->
    <div class="t-grid top-grid top-grid--bt0">
        <ul class="t-grid__3columns top-grid">
            <li class="t-grid__column">
                <div class="t-grid__inner">
                    <p class="game-top__order--icon-mt0"><i class="recommend-icon recommend-icon__b01 game-top__order--recommend-icon"></i></p>
                    <a href="//pass.auone.jp/app/detail?app_id=4698010000038&amp;rf=gameportal" class="icon-display--b" onclick="trEventBe(this,'auゲーム','トップページ',おすすめアプリ枠5_[白猫プロジェクト]<可変動的>',event);">
                        <img src="//cdn-img.auone.jp/pass/asset/sp/game/img/transfer/1410/icon_4698010000038.png" alt="">
                    </a>
                    <div class="grid__inner-wrap">
                        <div class="grid__inner-right"><p>白猫プロジェクト</p></div>
                    </div>
                </div>
            </li>
            <li class="t-grid__column">
                <div class="t-grid__inner">
                    <p class="game-top__order--icon-mt0"><i class="recommend-icon recommend-icon__b02 game-top__order--recommend-icon"></i></p>
                    <a href="//pass.auone.jp/app/detail?app_id=1287910000004&amp;rf=gameportal" class="icon-display--b" onclick="trEventBe(this,'auゲーム','トップページ','おすすめアプリ枠5_[ニート勇者]<可変動的>',event);">
                        <img src="//img.au-market.com/mapi/pc_icon/12879/1287910000004/h_88940_98671.png" alt="">
                    </a>
                    <div class="grid__inner-wrap">
                        <div class="grid__inner-right"><p>ニート勇者</p></div>
                    </div>
                </div>
            </li>
            <li class="t-grid__column">
                <div class="t-grid__inner">
                    <p class="game-top__order--icon-mt0"><i class="recommend-icon recommend-icon__b03 game-top__order--recommend-icon"></i></p>
                    <a href="//pass.auone.jp/app/detail?app_id=8943810000019&amp;rf=gameportal" class="icon-display--b" onclick="trEventBe(this,'auゲーム','トップページ','おすすめアプリ枠5_[RPGアスディバインハーツ]<可変動的>',event);">
                        <img src="//img.au-market.com/mapi/pc_icon/89438/8943810000019/m_81719_87320.png" alt="">
                    </a>
                    <div class="grid__inner-wrap">
                        <div class="grid__inner-right"><p>RPGアスディバインハーツ</p></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- /grid -->
</div>
<!-- /list -->
<!--///////////////////
///////////////////////
////////  6   /////////
///////////////////////
////////////////////-->
<!-- list -->
<div class="list list--mb10">
    <!-- headline -->
    <div class="headline">
        <div class="middle">
            <img src="//cdn-img.auone.jp/pass/asset/sp/game/img/cup.png">
        </div>
        <h3 style="line-height:1em;">シミュレーションランキング</h3>
        <!--/////もっと見る/////-->
        <div class="t-crosshead__ex">
            <a href="//game.auone.jp/index.php/ranking/index?category_id=001013&amp;ranking_kind=WEEK" onclick="trEventBe(this,'auゲーム','トップページ','おすすめアプリ枠6_もっと見る',event);" class="t-crosshead__button">もっとみる</a>
        </div>
        <!--//////////////////-->
    </div>
    <!-- /headline -->
    <!-- grid -->
    <div class="t-grid top-grid top-grid--bt0">
        <ul class="t-grid__3columns top-grid">
            <li class="t-grid__column">
                <div class="t-grid__inner">
                    <p class="game-top__order--icon-mt0"><i class="recommend-icon recommend-icon__c01 game-top__order--recommend-icon"></i></p>
                    <a href="//pass.auone.jp/app/detail?app_id=8687610000010&amp;rf=gameportal" class="icon-display--b" onclick="trEventBe(this,'auゲーム','トップページ',おすすめアプリ枠6_[アニメスタジオ物語]<可変動的>',event);">
                        <img src="//img.au-market.com/mapi/pc_icon/86876/8687610000010/h_89292_99262.png" alt="">
                    </a>
                    <div class="grid__inner-wrap">
                        <div class="grid__inner-right"><p>アニメスタジオ物語</p></div>
                    </div>
                </div>
            </li>
            <li class="t-grid__column">
                <div class="t-grid__inner">
                    <p class="game-top__order--icon-mt0"><i class="recommend-icon recommend-icon__c02 game-top__order--recommend-icon"></i></p>
                    <a href="//pass.auone.jp/app/detail?app_id=8687610000009&amp;rf=gameportal" class="icon-display--b" onclick="trEventBe(this,'auゲーム','トップページ','おすすめアプリ枠6_[夢おこし商店街]<可変動的>',event);">
                        <img src="//img.au-market.com/mapi/pc_icon/86876/8687610000009/m_89041_98845.png" alt="">
                    </a>
                    <div class="grid__inner-wrap">
                        <div class="grid__inner-right"><p>夢おこし商店街</p></div>
                    </div>
                </div>
            </li>
            <li class="t-grid__column">
                <div class="t-grid__inner">
                    <p class="game-top__order--icon-mt0"><i class="recommend-icon recommend-icon__c03 game-top__order--recommend-icon"></i></p>
                    <a href="//pass.auone.jp/app/detail?app_id=4698010000039&amp;rf=gameportal" class="icon-display--b" onclick="trEventBe(this,'auゲーム','トップページ','おすすめアプリ枠6_[ほしの島のにゃんこ]<可変動的>',event);">
                        <img src="//cdn-img.auone.jp/pass/asset/sp/game/img/transfer/1410/icon_4698010000039.png" alt="">
                    </a>
                    <div class="grid__inner-wrap">
                        <div class="grid__inner-right"><p>ほしの島のにゃんこ</p></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- /grid -->
</div>
<!-- /list -->

<!--///////////////////
///////////////////////
////////  コラム   /////
///////////////////////
////////////////////-->
<div class="list game-top__column">
    <div class="headline">
        <img src="//cdn-img.auone.jp/pass/asset/sp/game/img/face.png">
        <h3 style="line-height: 1em;">オススメコラム</h3>
        <div class="t-crosshead__ex">
            <a href="/app/column/" onclick="trEventBe(this,'auゲーム','トップページ','コラム_もっとみる',event);" class="t-crosshead__button">もっとみる</a>
        </div>
    </div>
    <ul class="apps">
        <li>
            <a href="http://pass.auone.jp/app/r?redirect=9&r_url=http%3A%2F%2Foctoba.net%2Farchives%2F20140716-android-game-whitecat-342323.html" onclick="trEventBe(this,'auゲーム','トップページ','コラム_白猫プロジェクト',event);" target="_blank">
                <div class="border">
                    <div class="image">
                        <img class="app-icon" src="//cdn-img.auone.jp/pass/asset/sp/game/img/transfer/1410/icon_4698010000038.png" alt="白猫プロジェクト">
                    </div>
                    <div class="app-text">
                        <h4>白猫プロジェクト</h4>
                        <p class="genre">ぷにコンにハマる！ワンフィンガーRPG！</p>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="http://pass.auone.jp/app/r?redirect=9&r_url=http%3A%2F%2Fwww.tabroid.jp%2Fnews%2F2014%2F10%2Fausp-jp.colopl.quizwiz.html" onclick="trEventBe(this,'auゲーム','トップページ','コラム_魔法使いと黒猫のウィズ',event);" target="_blank">
                <div class="border">
                    <div class="image">
                        <img class="app-icon" src="//cdn-img.auone.jp/pass/asset/sp/game/img/transfer/1410/icon_4698010000022.png" alt="魔法使いと黒猫のウィズ">
                    </div>
                    <div class="app-text">
                        <h4>魔法使いと黒猫のウィズ</h4>
                        <p class="genre">クイズとRPGが融合。『魔法使いと黒猫のウィズ』はこんなゲーム</p>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>
