@charset "UTF-8";

/*
#### ポイント表示
*/
.wrap-block_point{
    background: #fff;
    padding: 0 8px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.24);
}
.block_point{
    max-width: 480px;
    margin: 0 auto;
    display: -webkit-box;
    width: 100%;
    padding: 10px 0;
    box-align: center;
    -webkit-box-align: center;
}
.block_point a{
    display: block;
}
.block_point .block_left {
    text-align: center;
    width: 40%;
    height: 34px;
    border-style: solid;
    border-color: #e2e2e2;
    border-width: 1px 0 1px 1px;
    border-radius: 2px 0 0 2px;
}
.block_point .block_right{
    text-align: right;
    width: 60%;
    height: 34px;
    line-height: 32px;
    border: solid 1px #e2e2e2;
    border-radius: 0 2px 2px 0;
    padding-right: 10px;
    font-size: 20px;
}
.block_point .block_login{
    text-align: center;
    width: 60%;
    height: 34px;
    border: solid 1px #e2e2e2;
    border-radius: 0 2px 2px 0;
}
.block_point span{
    margin-right: .5em;
    letter-spacing: 0.1em;
}
.nav {
    box-shadow: 0 0 0 rgba(0,0,0,0) !important;
}

/*
#### ABテスト　バッジicon追加
*/
.badge-icon .grid__inner-wrap{
        display: -webkit-box;
        display: box;
    }
.badge-icon .grid__inner-left{
        display: block;
        width: 30px;
        height: 30px;
        margin: 5px 1px 0 0;
    }
.badge-icon .grid__inner-right{
        -webkit-box-flex: 1;
        margin-top: 5px;
    }

.badge-icon .grid__inner-left{
    text-indent: -9999px;
    background-image: url(../img/common/sprite_badge-icon.png);
    background-repeat: none;
    background-size: 30px auto;
    -webkit-background-size: 30px auto;
    }
.badge-favored{ background-position: 0 0;}
.badge-new{ background-position: 0 -55px;}
.badge-recommend{ background-position: 0 -110px;}
.badge-battle{ background-position: 0 -165px;}
.badge-lady{ background-position: 0 -220px;}
.badge-sports{ background-position: 0 -275px;}
.badge-rpg{ background-position: 0 -330px;}

/*
#### 20150301　改善施策
*/
.game-top__slide{
    margin-bottom: 10px;
}
.hyperlink-button_group{
    padding: 0 8px;
    margin: 8px auto 0 auto;
    overflow: hidden;
}
.hyperlink-button_group a{
    display: block;
    text-align: center;
    font-size: 12px;
    color: #333333;
    height: 44px;
    line-height: 34px;
    margin-bottom: 8px;
    padding: 5px 3px;
    border-radius: 4px;
    border: 1px solid #b9b9b9;
    background: #eeeeee;
    background: linear-gradient(#ffffff 0%, #eeeeee 100%);
    background: -webkit-linear-gradient(white 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#eeeeee));
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 0 0 rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1);
    clear: both;
}
.hyperlink-button_group li a{
    margin-right: 8px;
}
.hyperlink-button_group li:last-child a {
    margin-right: 0;
}
.game-top__ranking .game-top__order{
    text-align: center;
    font-size: 12px;
    padding-bottom: 5px;
}
.game-top__ranking .top-grid{
    padding-bottom: 0;
}
.game-top__column{
    margin-top: 10px;
}
.game-top__pagetop{
    display: block;
    text-align: right;
    line-height: 3em;
    padding-right: 8px;
}
.game-top__pagetop.text-white{
    color: white;
}
.game-top__headline{
    border-bottom: 1px solid #dfdfdf;
}
.contens-body .t-bx__wrapper {
    margin-bottom: 10px;
}
