
body{
	font-size: 14px;
	line-height: 1.2em;
}
.all_wrapper{
	background-color: #ffe7ce;
	color: #333;
	padding-bottom: 30px;
}
.all_wrapper a{
	-webkit-tap-highlight-color: rgba(0,0,0,0.30);
}

.game-contents_wrapper{
  	max-width: 480px;
  	margin: 0 auto 10px;
}
.howto_mainimg{
	background:url(../img/howto/mainimg_howto.png) no-repeat center;
	background-size: 480px 90px;
	-webkit-background-size: 480px 90px;
	margin:0 auto;
	text-indent: -9999px;
	height: 90px;
	display: box;
}


/* ナビゲーション */
nav ul.howto_nav{
	width: 100%;
	display: box;
	display: -webkit-box;
	background: url(../img/howto/bg_navi.png);
	background-size: 14px;
	-webkit-background-size: 14px;
	border-bottom: solid 7px #a23d00;
}
nav ul.howto_nav li{
	box-flex: 1.0;
	-webkit-box-flex: 1.0;
	text-align: center;
}
nav ul.howto_nav li a{
	display: block;
 	width: 100%;
 	height: 100%;
	position: relative;
	padding:10px 0;
	background: url(../img/howto/nav_line.png) no-repeat right;
	background-size: 2px 32px;
	-webkit-background-size: 2px 32px;
}
nav ul.howto_nav li:last-child a{
	background: none;
}
nav ul.howto_nav li a:after{
	content:"";
	position: absolute;
	bottom: -14px;
	left: 50%;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 6px 0;
	border-color: #a23e00 transparent transparent transparent;
}


/* コンテンツ全体*/
.game-contents{
	background: #a65908 ;
	margin-top: 40px;
	box-shadow:rgba(0, 0, 0, 0.0980392) 0px 2px 5px 0;
	-webkit-box-shadow:rgba(0, 0, 0, 0.5) 0px 2px 3px 0;
	padding: 0 0 10px 0;
	text-align: center;
}
.game-contents h3{
	position: relative;
	top: -10px;
	margin: 0 auto;
	text-indent: -9999px;
}
.game-contents.incontents{
	box-shadow: none;
	-webkit-box-shadow: none;
	background: url(../img/howto/bg_howto.png);
	background-size: 14px;
	-webkit-background-size: 14px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: -8px 10px 0 10px;
	padding: 10px;
}


/* 初心者ページ*/
.game-contents h3.merit_title{
	top: -15px;
	width: 312px;
	height: 64px;
	background: url(../img/howto/h3_howto01.png) no-repeat center;
	background-size: 312px 62px;
	-webkit-background-size: 312px 62px;
}
.game-contents h3.use_title{
	top: -15px;
	width: 312px;
	height: 64px;
	background: url(../img/howto/h3_howto02.png) no-repeat center;
	background-size: 312px 62px;
	-webkit-background-size: 312px 62px;
}
.game-contents h3.play_title{
	top: -15px;
	width: 312px;
	height: 64px;
	background: url(../img/howto/h3_howto03.png) no-repeat center;
	background-size: 312px 62px;
	-webkit-background-size: 312px 62px;
}
.game-contents.incontents ul li a.description{
	position: relative;
	display: box;
	display: -webkit-box;
	background:#fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	border-style: solid;
	border-color: #a98700;
	border-width: 2px 2px 5px 2px;
	padding: 10px 50px 10px 10px;
	margin-bottom: 10px;
	min-height: 55px;
	text-align: left;
}
.game-contents.incontents ul li a.description:before{
	content: '';
	display: block;
	background:url(../img/howto/sprites.png) -19px 0;
	background-size: 325px auto;
	-webkit-background-size: 325px auto;
	width: 22px;
	height: 15px;
	margin-right:5px;
}
.game-contents.incontents ul li a.description:after{
	position: absolute;
	right: -4px;
	top: 43%;
	content: '';
	display: block;
	background:url(../img/howto/sprites.png) -24px -21px;
	background-size: 325px auto;
	-webkit-background-size: 325px auto;
	width: 22px;
	height: 15px;
}
.game-contents.incontents ul li:last-child a.description{
	margin-bottom: 0;
}
.game-contents.incontents .howto{
	background: #fff;
	border-radius: 5px;
	margin-bottom:20px;
}
.game-contents.incontents .howto:last-child{
	margin-bottom: 0;
}
.game-contents.incontents .howto h4{
	position: relative;
	background: #ff5400;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	padding: 10px;
	margin-left: -5px;
	margin-right: -5px;
}
.game-contents.incontents .howto h4:before{
	content: '';
	position: absolute;
	bottom: -8px;
	left: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 5px 8px 0;
	border-color: transparent #600008 transparent transparent;
}
.game-contents.incontents .howto h4:after{
	content: '';
	position: absolute;
	bottom: -8px;
	right: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 5px 0 0;
	border-color: #600008 transparent transparent transparent;
}
.game-contents.incontents .howto h4 p{
	position: relative;
	display:box;
	display: -webkit-box;
	text-align: left;
	margin-left: 50px;
}
.game-contents.incontents .howto h4 p.light:before{
	content: '';
	position: absolute;
	top: -15px;
	left: -62px;
	display: block;
	background:url(../img/howto/sprites.png) no-repeat  0 -37px;
	background-size: 325px auto;
	-webkit-background-size: 325px auto;
	width: 61px;
	height: 52px;
}
.game-contents.incontents .howto h4 p.heavy:before{
	content: '';
	position: absolute;
	top: -15px;
	left: -62px;
	display: block;
	background:url(../img/howto/sprites.png) no-repeat 0 -95px;
	background-size: 325px auto;
	-webkit-background-size: 325px auto;
	width: 61px;
	height: 52px;
}
.game-contents.incontents .howto h4 p.otoku:before{
	content: '';
	position: absolute;
	display: block;
	top: -15px;
	left: -62px;
	background:url(../img/howto/sprites.png) no-repeat 0 -154px;
	background-size: 325px auto;
	-webkit-background-size: 325px auto;
	width: 61px;
	height: 52px;
}
.game-contents.incontents .howto h4 p.only:before{
	content: '';
	position: absolute;
	top: -15px;
	left: -62px;
	display: block;
	background:url(../img/howto/sprites.png) no-repeat 0 -214px;
	background-size: 325px auto;
	-webkit-background-size: 325px auto;
	width: 61px;
	height: 52px;
}
.game-contents.incontents .howto .box{
	padding: 10px 10px 15px 10px;
	margin: 0 auto;
}
.game-contents.incontents .howto .box ul{
    display: box;
    display: -webkit-box;
    margin-top: 15px;
    box-pack:center;
    -webkit-box-pack:center;
}
.game-contents.incontents .howto .box ul li.small{
	margin-right: 4px;
}
.game-contents.incontents .howto .box ul li.small:nth-child(2){
	margin-right: 0;
	margin-left: 3px;
}
.game-contents.incontents .howto .box ul li a{
	display: block;
	text-indent: -9999px;
	background:url(../img/howto/sprites.png) no-repeat;
	background-size: 325px auto;
	-webkit-background-size: 325px auto;
}
.game-contents.incontents .howto .box ul li a.all-games_btn{
	background-position: -64px 0;
	width: 127px;
	height: 50px;
}
.game-contents.incontents .howto .box ul li a.point10_btn{
	background-position: -64px -54px;
	width: 127px;
	height: 50px;
}
.game-contents.incontents .howto .box ul li a.chenge_btn{
	background-position: -62px -107px;
	width: 265px;
	height: 50px;
}
.game-contents.incontents .howto .box ul li a.enjoy-point_btn{
	background-position: -193px 0;
	width: 127px;
	height: 50px;
}
.game-contents.incontents .howto .box ul li a.exchenge-items_btn{
	background-position: -193px -54px;
	width: 127px;
	height: 50px;
}
.game-contents.incontents .howto .box ul li a.gift_btn{
	background-position: -62px -161px;
	width: 265px;
	height: 50px;
}
.game-contents.incontents .howto .wallet_check{
	position: relative;
	text-align: right;
	padding: 0 23px 10px 0;
	margin-left: 20px;
}
.game-contents.incontents .howto .wallet_check:after{
	content: '';
	position: absolute;
	top: 1px;
    right: -3px;
	background:url(../img/howto/sprites.png) -24px -20px;
	background-size: 325px auto;
	-webkit-background-size: 325px auto;
	width: 22px;
	height: 15px;
}
.qa{
	display: box;
	display: -webkit-box;
	box-pack:center;
    -webkit-box-pack:center;
	margin: 0 auto;
	padding:15px 0;
}
.qa a{
	display: block;
	background:url(../img/howto/sprites.png) no-repeat  -70px -376px;
	background-size: 325px auto;
	-webkit-background-size: 325px auto;
	width: 242px;
	height: 70px;
	text-indent: -9999px
}


/* 乗り換えページ */
.howto_transfar_mainimg{
	background:url(../img/howto_transfer/mainimg_howto_transfer.png) no-repeat center;
	background-size: 480px 90px;
	-webkit-background-size: 480px 90px;
	margin:0 auto;
	text-indent: -9999px;
	height: 90px;
	display: box;
}
.game-contents h3.takeover_title{
	top:-15px;
	background: url(../img/howto_transfer/h3_howto_transfer01.png) no-repeat center;
	width: 312px;
	background-size: 312px 62px;
	-webkit-background-size: 312px 62px;
	height: 64px;
}
.game-contents h3.play-point_title{
	top:-15px;
	background: url(../img/howto_transfer/h3_howto_transfer02.png) no-repeat center;
	width: 312px;
	background-size: 312px 62px;
	-webkit-background-size: 312px 62px;
	text-indent: -9999px;
	height: 64px;
}
.game-contents h3.exchenge-items_title{
	top: -15px;
	width: 312px;
	background: url(../img/howto_transfer/h3_howto_transfer03.png) no-repeat center;
	background-size: 312px 62px;
	-webkit-background-size: 312px 62px;
	text-indent: -9999px;
	height: 64px;
}
.game-contents.incontents .howto_transfer{
	background: #fff;
	border-radius: 5px;
	padding: 10px 10px 15px 10px;
}
.game-contents.incontents .howto_transfer p{
	margin-bottom: 10px;
	text-align: left;
}
.game-contents.incontents .howto_transfer a{
	display: block;
	height: 100%;
}
.game-contents.incontents .howto_transfer h4{
	background: url(../img/howto_transfer/bg_h4.png);
	background-size: 12px;
	-webkit-background-size: 12px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 5px 10px 7px;
	margin-bottom: 10px;
	text-align: left;
}
.game-contents.incontents .howto_transfer ul{
	display: box;
    display: -webkit-box;
    box-pack:center;
    -webkit-box-pack:center;
}
.game-contents.incontents .howto_transfer ul li a{
	display: block;
	text-indent: -9999px;
	background:url(../img/howto/sprites.png) no-repeat;
	background-size: 325px auto;
	-webkit-background-size: 325px auto;
	width: 265px;
	height: 50px;
}
.game-contents.incontents .howto_transfer ul li a.howto-chenge_btn{
	background-position: -62px -215px;
}
.game-contents.incontents .howto_transfer ul li a.howto-chenge_btn{
	background-position: -62px -215px;
}
.game-contents.incontents .howto_transfer ul li a.gametitle-list_btn{
	background-position: -62px -269px;
}
.game-contents.incontents .howto_transfer ul li a.pointback-list_btn{
	background-position: -62px -324px;
}


/* common*/
.em{
	color: #ff5400;
}
.wd100{
	width: 100%;
}
.mb15{
	margin-bottom: 15px !important;
}
.mb30{
	margin-bottom: 30px !important;
}
