/* ゲームがお得　LP用 */

.lp_201410 .special-gift{
	padding-top: 8px;
	margin-top: 8px;
}
 .lp_201410  .special-gift .img_center{
  	text-align: center;
  }
.lp_201410 .step-icon p{
	width: 25px;
	padding: 8px;
}
.lp_201410 .step-icon {
	margin-top: 10px;
}
.lp_201410 .last-btn-box{
	margin: 25px
}
.lp_201410 .list{
	padding-bottom: 8px;
	margin-bottom: 0;
	margin-top: 0;
}
.lp_201410 .top-title {
	text-align: center;
}
.lp_201410 .top-title .text_left{
	text-align: left;
	color: #FFF;
	padding: 15px;
	font-size:12px;
	line-height: 1.4;
	}
.lp_201410 .top-title img,
.bg_gray-free .img_center img{
	max-width: 480px;
	width: 90%;
}
.img_width-full {
	width:100% !important;
}

.sub_title{
	text-align: center;
	font-size: 14px;
	line-height: 25px;
	color: #eb5505;
	font-weight: bold;
	display: block;
	width: 100%;
	background-color: #FFF;
}
.lp_201410 .t-grid {
	margin-bottom: 10px;
}


.lp_201410 .btn-box_half .operation-button {
	width: 48%;
	float: left;
}
.lp_201410 .btn-box_half div:first-child a{
	margin-right: 4%;
}
.lp_201410 .list span{
	display: block;
	line-height: 1.4;
	font-size: 12px;
	}
.lp_201410 .box_whiteline{
	display: box;
	display: -webkit-box;
	margin: 8px;
	border: solid 1px #fff;
	font-size: 14px;
}
.lp_201410 .box_whiteline dt{
	display: box;
	display: -webkit-box;
 	color: #eb5505;
 	background-color: #fff;
	padding: 10px;
}
.lp_201410 .box_whiteline dd{
	display: box;
	display: -webkit-box;
	padding: 10px;
	color: #fff;
	-webkit-box-flex: 1;
}

.lp_201410 .box_period{
	display: inline-block;
}
.lp_201410 .box_period p{
	float:left;
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
	border: solid 1px #fff;
	color: #fff;
	font-size:16px;
}
.lp_201410 .box_period p:first-child{
	color: #eb5505;
	background-color: #fff;
	font-size:13px;
	font-weight: bold;
}
.lp_201410 .box_period p span{
	font-size:13px;
}

/*20141021_pointcam_1*/
.lp_20141021_pointcam_1 {
	background-color: #eb5505;
	padding-bottom: 10px;
}
.lp_20141021_pointcam_1 .sub_title{
	text-align: center;
	font-size: 14px;
	line-height: 25px;
	color: #eb5505;
	font-weight: bold;
	display: block;
	background-color: #fff;
}
.lp_20141021_pointcam_1 .step-icon p{
	text-align: left;
	width: 80px !important;
	padding: 8px;
}
.lp_20141021_pointcam_1 .headline strong{
	font-size: 16px;
	display: block;
	padding-left: 55px;
}
.lp_20141021_pointcam_1 .operation-btn-box.no_link{
	background-color: #c9c9c9;
	box-shadow: none;
}
.lp_20141021_pointcam_1 .list{
	margin-bottom: 10px;
	padding-bottom: 30px;
}


/*tentomushi*/
.t-grid img {
  background: none;
  height: 90px;
  width: 90px;
}
.lp_201410 .t-grid__3columns {
  width: 100%;
  display: table;
  font-size: 12px;
}
.list__crosshead{
    position:static !important;
    float: none !important;
    line-height: 18px !important;
    padding-left: 18px;
}

/*common*/
.text_center {
	text-align: left;
}
.pd_15{
	padding: 15px;
}
.pd_10{
	padding: 10px;
}
.pb_10{
	padding-bottom:10px;
}
.pb_15{
	padding-bottom:15px;
}
.pt-pb_15{
	padding: 15px 0;
}
.mb_10 {
	margin-bottom: 10px !important;
}
.mt_10 {
	margin-top: 10px;
}
