body {
  line-height: 1.3em;
}

.lppb-wrapper {
  font-size: 14px;
  max-width: 480px;
  margin: 0 auto;
}
.lppb-wrapper a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.2);
}

.lppb-main-img {
  margin-top: 3px;
}
.lppb-main-img img {
  width: 100%;
}

.lppb-main-contents {
  border-top: 2px  solid #d4b111;
  border-bottom: 2px  solid #d4b111;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff6d3), color-stop(100%, #ffeb90));
  background: -webkit-linear-gradient(#fff6d3, #ffeb90);
  background: linear-gradient(#fff6d3, #ffeb90);
}

.lppb-main-contents__btn {
  margin: 20px 0;
}
.lppb-main-contents__btn a {
  display: block;
  width: 275px;
  height: 60px;
  margin: 0 auto;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background-image: url('../img/lp/pointday/sprites/btn.png');
  background-position: 0 0;
  -webkit-background-size: 275px 170px;
  background-size: 275px 170px;
}

.lppb-exchenge-item {
  border: 2px solid #ef5b02;
  background: #fff;
  margin: 0 10px 20px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.lppb-exchenge-item__title {
  padding: 3px 6px 8px 3px;
  text-align: left;
  -webkit-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff940b), color-stop(100%, #ef5c02));
  background: -webkit-linear-gradient(#ff940b, #ef5c02);
  background: linear-gradient(#ff940b, #ef5c02);
}

.lppb-sub-contents {
  padding: 20px 0 5px;
  background: url(../img/lp/pointday/bg_sub_contents.png) repeat;
  -webkit-background-size: 14px;
  background-size: 14px;
}

.lppb-sub-contents__btn {
  margin: 0;
  width: 265px;
  height: 50px;
  position: relative;
  margin: 0 auto;
  border: 2px solid #888;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(39%, #fdfdfd), color-stop(91%, #e3e3e3), color-stop(99%, #fdfdfd));
  background: -webkit-linear-gradient(top, #fdfdfd 39%, #e3e3e3 91%, #fdfdfd 99%);
  background: linear-gradient(top, #fdfdfd 39%, #e3e3e3 91%, #fdfdfd 99%);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px rgba(0, 0, 0, 0.2);
}
.lppb-sub-contents__btn :after {
  content: '';
  display: block;
  position: absolute;
  right: 10px;
  top: 20px;
  background-image: url('../img/lp/pointday/sprites/btn.png');
  background-position: 0 -160px;
  -webkit-background-size: 275px 170px;
  background-size: 275px 170px;
  width: 7px;
  height: 10px;
}
.lppb-sub-contents__btn a {
  padding: 15px 0;
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.lppb-reward-points {
  border: 2px solid #5b2400;
  background: #fff;
  margin: 0 10px 20px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.lppb-reward-points__title {
  padding: 3px 6px 8px 3px;
  text-align: left;
  -webkit-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #783000), color-stop(100%, #5d2400));
  background: -webkit-linear-gradient(#783000, #5d2400);
  background: linear-gradient(#783000, #5d2400);
}

.lppb-reward-points__btn {
  margin: 20px 0 10px;
}
.lppb-reward-points__btn a {
  display: block;
  width: 265px;
  height: 50px;
  margin: 0 auto;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background-image: url('../img/lp/pointday/sprites/btn.png');
  background-position: 0 -110px;
  -webkit-background-size: 275px 170px;
  background-size: 275px 170px;
}

.lppb-transfer {
  border: 2px solid #5b2400;
  background: #fff;
  margin: 0 10px 20px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.lppb-transfer h4 {
  padding: 3px 5px 5px 10px;
  background: url(../img/lp/pointday/bg_h4.png) repeat;
  text-align: left;
  margin-bottom: 10px;
  -webkit-background-size: 14px;
  background-size: 14px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.lppb-transfer__title {
  padding: 3px 6px 8px 3px;
  text-align: left;
  -webkit-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #783000), color-stop(100%, #5d2400));
  background: -webkit-linear-gradient(#783000, #5d2400);
  background: linear-gradient(#783000, #5d2400);
}

.lppb-transfer__btn {
  margin: 20px 0;
}
.lppb-transfer__btn a {
  display: block;
  width: 265px;
  height: 50px;
  overflow: hidden;
  margin: 0 auto;
  background-image: url('../img/lp/pointday/sprites/btn.png');
  background-position: 0 -60px;
  -webkit-background-size: 275px 170px;
  background-size: 275px 170px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.lppb-transfer__bnr a {
  display: block;
  width: 100%;
  padding: 0 0 10px 0;
}

.txt-orange {
  color: #ff5400;
}

.full {
  width: 100%;
}

.pd10 {
  padding: 10px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb15 {
  padding-bottom: 15px;
}

.mg30 {
  margin: 30px;
}
