/*///////////////////
  common
///////////////////*/
html {
/*zoom: 0.75;*/
}
/* clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
/* clearfix for ie7 */
.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
}
body {
    /*padding-bottom: 63px !important;*/
  line-height: 1;
    /*position: relative;*/
    background-color: #f3f3f3;
}
a, h1, .h1, h2, .h2, h3, .h3, h4, .h4, p, ul {
    color: #212121;
    margin: 0px;
    padding: 0px;
}
a:hover {
    text-decoration: none;
    color: #212121
}
ul {
    list-style: none;
}
h2 {
    margin:0 auto;
    display: none;
}
/*///////////////////
^^^^^^^^^^^^^^^^^^^^^
^^^^^^^^^^^^^^^^^^^^^
  index.html
^^^^^^^^^^^^^^^^^^^^^
^^^^^^^^^^^^^^^^^^^^^
///////////////////*/


/*///////////////////
  .nav
///////////////////*/

.nav {
    width: 100%;
    display: inline-block;
    background-color: #fff;
    border-bottom: 4px solid #eb5505;
    height: 50px;
    z-index: 9999 !important;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.24) !important;
    top: 0 !important;
    left: 0 !important;
}
.logo {
    height: 21px;
    margin-top: -4px;
    width: auto
}
.nav a:hover {
    color: #eb5505;
}
.nav h1 a {
    float: left;
    font-size: 18px;
    line-height: 50px;
    margin-left: 16px;
}
.nav a .search {
    margin-top: 18px;
    float: right;
    width:12px;
    margin-right: 4px;
}
.nav a span {
    margin-right: 16px;
    display: block;
    float: right;
    font-weight: bold;
    font-size: 12px;
    margin-top: 18px;
}
.top {
    max-width: 480px;
    margin: 8px auto !important;
}
/*//////////////////////
  notification
//////////////////////*/

.notification-padding {
    padding: 0px 8px;
}
.notification {
    width: 100%;
    margin-right: 6px !important;
    display: block;
    margin-top: 8px !important;
    margin: 8px auto !important;
    max-width:480px;
    position: relative;
}
.notification a {
    width: 100%;
    display: inline-block;
}
.notification p {
    float: left;
    padding: 8px;
    color: #eb5505;
    font-weight: bold;
    width: 95%
}
.notification a p:hover {
    color: #dc9874
}
.notification img {
    position: absolute;
    width: 7px;
    height: 10px;
    right: 8px;
}
/*//////////////////////
  ad
//////////////////////*/

  .center {
    width: 100%;
    position: relative;
    display: inline-block;
    height: 50px;
    margin-top: 8px !important;
}
.ad {
    margin: 0 auto;
    width: 320px;
    height: 50px;
}
.ad a:hover {
    cursor:pointer;
    filter: alpha(opacity=60);        /* ie lt 8 */
 -ms-filter: "alpha(opacit         /* FF lt 1.5, Netscape */
 -khtml-opacity: 0.6;
y=60)";  /* ie 8 */
    -moz-opacity:0.6;                   /* Safari 1.x */
    opacity:0.6;
    zoom:1;
}
.ad img {
    width: 100%;
    height: auto
}
/*//////////////////////
  slider
//////////////////////*/

#slides {
    display:block;
    position: relative;
    margin-top: 8px;
    max-width: 480px;
    margin: 0 auto
}
.slidesjs-container {
    max-width: 480px;
}
#slides a {
    display: none;
}
#slides a:first-child {
    display: block;
}
#slides a:hover {
    cursor:pointer;/*zoom:1;*/
  }
#slides .slidesjs-slide {
    display: inline-block;
    height: 50px;
}
#slides .slidesjs-slide img {
    display: inline-block !important;
}
#slides img {
    width: 100%;
}
.slidesjs-navigation {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    color: rgba(0,0,0,1) !important;
    position: absolute;
    top: 10px;
}
.slidesjs-navigation:hover {
    color: rgba(0,0,0,1) !important;
}
.slidesjs-previous:hover,  .slidesjs-next:hover {
    color: rgba(0,0,0,1) !important;
}
.slidesjs-previous {
    left: 8px;
    background-image: url(../img/left.png);
}
.slidesjs-next {
    right:8px;
    background-image: url(../img/right.png);
}
.slidesjs-pagination {
    margin: 8px auto 0;
    width: 50px;
}
.slidesjs-pagination li {
    float: left;
    margin-right: 10px;
}
.slidesjs-pagination li:last-child {
    margin-right: 0px;
}
.slidesjs-pagination li a {
    font-size: 14px;
}
.slidesjs-pagination li .active {
    color:#eb5505
}
.owl-wrapper {
    z-index: 10 !important
}
.owl-next, .owl-prev {
    z-index: 9999 !important
}
.owl-next img, .owl-prev img {
    z-index: 9999 !important
}
/*///////////////////
  animation
///////////////////*/

.animation {
    width: 100%;
    height: 20px;
    position: relative;
    overflow: hidden;
}
/*cannon*/

  .cannon {
    float: right;
    position: absolute;
    right: 8px;
    height: 20px;
    width: auto
}
.ball {
    margin-top: 8px;
    width: 5px;
    position: absolute;
    right: 22px;
}
.explosion {
    z-index: 9999;
    width: auto;
    height: 20px;
    position: absolute;
    left: -4px;
    display: none;
}
/*hero*/

  .ranking .animation img {
    height: 20px;
    width: auto;
}
.castle {
    margin-left: 16px;
    float: left;
}
.dragon {
    margin-right: 16px;
    float: right;
}
#fire {
    float: right;
}
.fire {
    position: relative;
    margin-top:8px;
    width: 10px !important;
    height: auto !important;
    background-image: url(../img/fire.png);
    background-repeat: no-repeat;
    background-size: 8px 8px;
    margin-top: 8px;
    float: right;
}
.fire-disappear {
    background-image: url(../img/fire-none.png);
    background-repeat: no-repeat;
    background-size: 8px 8px;
    margin-top: 0px;
    float: right;
}
.hero-box-attack {
    height: 20px;
    width: 50px;
    float: right;
    background-image: url(../img/hero-attack.png);
    background-repeat: no-repeat;
    background-size: auto 20px;
}
.hero-box {
    height: 20px;
    width: 50px;
    float: right;
    background-image: url(../img/hero.png);
    background-repeat: no-repeat;
    background-size: auto 20px;
}
/*bounce-ball*/

  .gift .animation {
    display: inline-block;
    width: 100%;
    height: 20px;
    position: relative;
    overflow: visible;
}
.bounce-ball {
    width: 20px;
    height: 20px;
    float: right;
    margin-right: 8px;
    position: relative;
}
/*car*/

  .flag {
    margin-left: 8px;
    height: 20px;
    width: auto
}
.car {
    width: auto;
    margin-top: 6px;
    height: 14px;
    position: absolute;
    right: 0px;
}
/*///////////////////
  top
///////////////////*/

  .banner {
    padding: 0px 8px;
}
.banner:hover {
    cursor:pointer;
    filter: alpha(opacity=60);        /* ie lt 8 */
    -ms-filter: "alpha(opacity=60)";  /* ie 8 */
    -moz-opacity:0.6;                 /* FF lt 1.5, Netscape */
    -khtml-opacity: 0.6;              /* Safari 1.x */
    opacity:0.6;
    zoom:1;
}
.banner img {
    border-radius: 2px;
    margin-bottom: 8px;
}
.top h2 {
    margin-bottom: 16px;
    text-align: center;
    color: #eb5505;
    font-weight: bold;
    font-size: 18px;
    margin-top: 0px;
}
.banner-medium img {
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.24);
}
.banner-small {
    width: 50%;
    float: left;
}
.banner-left {
    padding-right: 0px;
}
.banner-right {
    padding-left: 0px;
}
.box-left {
    padding-right: 4px;
}
.box-right {
    padding-left: 4px;
}
.banner-small img {
    box-shadow: 0px 1px 3px rgba(0,0,0,0.24);
    width: 100%;
}
.border-img img {
    width: 100%;
    margin-bottom: 32px;
}
.headline .t-crosshead__button{
    margin-top: 0;
}
/*///////////////////
  app-feature
///////////////////*/

.app-list {
    background-color: #eb5505;
}
.app-list .js-t-wrapper {
    background-color: #eb5505;
}
.special-games {
    background-color: #eb5505;
}
.app-list .header-margin {
    background-color: #eb5505;
}
.index .point-back {
    padding-top: 32px;
}
.index .point-back .text-title {
    text-align: center;
}
.index .point-back .text-title img {
    max-width: 480px;
    margin: 0 auto;
    width: 90%;
    height: auto;
}
.index .point-back .animation {
    margin-top: 32px;
}
.list {
    background-color: #fff;
    margin: 0px 8px;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.24);
}
.headline {
    display: inline-block;
    padding: 11px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #dfdfdf;
}
.headline.bottom_noline{
    border-bottom: none;
}
.headline img {
    width: 15px;
    float: left;
}
.headline h3 {
    position: absolute;
    left: 28px;
    float: left;
    line-height:23px;
    font-size: 14px;
    font-weight: bold;
}
.more-btn {
    background-color: #16b856;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.24);
    color: #fff;
    padding: 6px 12px;
    font-weight: bold;
    border-radius: 2px;
    float: right;
    font-size: 11px;
}
.more-btn:hover {
    background-color: #128a41;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.24);
    color: #fff;
    padding: 6px 12px;
    font-weight: bold;
    border-radius: 2px;
    float: right;
    font-size: 11px;
}
.more-btn:link, .more-btn:visited, .more-btn:active {
    color: #fff;
}
/*複数行*/

.headline.multiline {
    margin-bottom: 2px;
}
.headline.multiline .more-btn {
    position: absolute;
    right: 8px;
    top: 8px;
}
.headline.multiline h3 {
    position: static;
    float: none;
    padding: 0 60px 0 20px;
}
/*文字たたむ*/
    .index .app-text h4 {
    overflow: hidden;
    line-height: 1.4;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis; /* Safari */
    -o-text-overflow: ellipsis; /* Opera */
}
.app-text p {
    margin-top: 4px;
    font-size: 14px;
    color: #eb5505;
}
.index .ranking .app-text p {
    margin-top: 4px;
    font-size: 14px;
    overflow: hidden;
    min-height: 50px;
    line-height: 1.2
}
.app-text .genre {
    color: #8d8d8d
}
.apps li {
    width: 100%;
    margin-top: -4px
}
.apps a {
    display: inline-block;
    padding-top: 1px;
    width: 100%
}
.apps a:hover {
    background-color: #F8F8F8
}
.apps .border {
    margin-left: 8px;
    border-top: 1px solid #dfdfdf;
}
.apps li:first-child .border {
    border-top: 0px solid #dfdfdf;
}
.apps img {
    width: 75px;
    height: 75px;
    float: left;
    margin: 8px 0px 10px 0px;
}
.app-text h4 {
    font-weight: bold;
    font-size: 16px;
}
.app-text p {
    color: #eb5505;
    margin-top: 4px;
}
.pager {
    margin: 0px;
    width: 100%;
    border-top: 1px solid #dfdfdf;
}
.list .pager a {
    width: 50%;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 40px;
    padding-top: 7px;
}
.list .pager p {
    color: #afafaf;
    padding-top: 6px;
}
.list .pager img {
    width: 15px;
    height: 12px;
}
.list .pager .left p {
    text-align: left;
}
.list .pager img {
    float: left;
    margin: 0px 8px;
}
.list .pager .right {
    float: right;
}
.list .pager .right:hover {
    float: right;
    border-radius: 0px 0px 2px 0px
}
.list .pager .left:hover {
    float: left;
    border-radius: 0px 0px 0px 2px
}
.list .pager .right p {
    text-align: right;
}
.list .pager .right img {
    float: right;
}
.app-text .genre {
    color: #8d8d8d
}
.rank {
    display: inline-block;
    text-align: center;
    width: 20px;
    margin-right: 4px;
}
.manual {
    margin: 32px 8px;
}
.manual h3 {
    line-height: 1.2;
    color: #fff;
}
.manual a {
    margin-top: 6px;
}
.manual .text {
    padding: 8px;
    display: inline-block;
    color: #fff
}
.manual .text p {
    color:#fff;
}
.manual li {
    float: left;
    padding-right: 10px;
    padding-top: 10px;
}
.manual .text ul li a:hover {
    color: #dfdfdf
}
.manual .text ul li a {
    color: #fff;
    text-decoration: underline;
}
.gift {
    display: inline-block;
    width: 100%;
}
.gift-title {
    text-align: center;
}
.gift-title > img {
    max-width: 480px;
    margin: 0 auto;
    width: 90%;
    height: auto;
}
.gift .animation {
    margin-top: 32px;
}
.list-gift {
    background-color: #fff;
    margin: 0px 8px;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.24);
    margin-bottom: 32px;
}
.list-gift ul {
    padding: 6px 8px;
    display: inline-block;
    margin-left: -2%;
    width: 100%
}
.list-gift ul li {
    width: 33.3333%;
    float: left;
    padding-left: 2%;
}
.list-gift ul li:hover {
    width: 33.33%;
    float: left;
    padding-left: 2%;
    cursor:pointer;
    filter: alpha(opacity=60);        /* ie lt 8 */
    -ms-filter: "alpha(opacity=60)";  /* ie 8 */
    -moz-opacity:0.6;                 /* FF lt 1.5, Netscape */
    -khtml-opacity: 0.6;              /* Safari 1.x */
    opacity:0.6;
    zoom:1;
}
.list-gift ul li a img {
    width: 100%;
}
.app-list .bottom {
    padding-top: 0px;
    padding-bottom: 32px
}
/*///////////////////
  app-all
///////////////////*/

.all-games {
    margin-bottom: 32px;
}
.ranking {
    margin-bottom: 16px;
}
.ranking .text-title {
    text-align: center;
}
.ranking .text-title img {
    max-width: 480px;
    width: 90%;
    padding: 32px 0px;
    height: auto;
}
.ranking .animation {
    margin-top: 32px;
}
.ranking .rank {
    float: left;
    line-height: 91px;
}
.details {
    color: #8d8d8d !important;
}
.category .headline {
    height:42px;
}
.category ul img {
    width: 15px !important;
    height: auto !important;
    margin: 0px 8px;
    margin-top: -2px;
}
.category li {
    margin-top: 0px;
}
.category a {
    width: 100%;
    display: inline-block;
    height: 100%;
}
.category .list a {
    height: auto;
}
.category a:hover {
    background-color: #F8F8F8
}
.category .border {
    padding:8px 0px;
    border-top: 1px solid #dfdfdf !important;
    margin-left: 8px;
}
.category li:first-child .border {
    border-top: 0px solid #dfdfdf !important;
}
.category .border span {
    display: inline-block;
}
.toggle {
    text-align: center;
    color: #8d8d8d !important;
    border-top: 1px solid #dfdfdf !important;
}
.toggle-open {
    display: none;
}
.toggle-open li:first-child .border {
    border-top: 1px solid #dfdfdf !important;
}
.toggle-open li:last-child .border {
    border-bottom: 0px solid #dfdfdf !important;
}
.bottom {
    padding: 16px 0px;
    width: 100%;
    margin: 16px auto
}
.bottom .banner a img {
    width: 100%
}
.bottom .ad-large {
    width: 300px;
    height: auto;
    margin: 0px auto;
    margin-top: 24px;
}
.ad-large img {
    width: 300px;
    height: auto;
}
/*///////////////////
  footer
///////////////////*/

/*footer{
  position: absolute;
  bottom: 0;
  background-color: #fff;
  font-size: 12px;
  height: 77px;
  width: 100%;
  text-align: center;
  border-top: 1px solid #dfdfdf;
  margin-bottom: 0px !important;
}

  footer ul{
    display: inline-block;
    padding-top: 20px;
  }

    footer ul li{
      float: left;
      margin-left:16px;
      padding-left:16px;
      border-left: 1px solid #8d8d8d;
    }

    footer ul li:first-child{
      margin-left: 0px;
      padding-left: 0px;
      border-left: 0px solid #8d8d8d;
    }

      footer ul li a{
        color:#8d8d8d;
      }

      footer ul li a:hover{
        color:#eb5505;
      }*/

     /*.copyright{
        margin-top: 16px;
        font-size: 9px;
        color:#8d8d8d;
      }*/



/*///////////////////
^^^^^^^^^^^^^^^^^^^^^
^^^^^^^^^^^^^^^^^^^^^
  app-feature.html
^^^^^^^^^^^^^^^^^^^^^
^^^^^^^^^^^^^^^^^^^^^
///////////////////*/


.app-list .point-back {
    margin-top: 8px;
    margin-bottom: 16px;
}
.app-list .point-back .text-title {
    text-align: center;
}

 .app-list .point-back h2{
    color: #fff;
    background:url(../img/list-title.png) no-repeat center;
    background-size:90% auto;
    text-indent: -9999px;
    margin-bottom: 0px;
    padding: 32px;
}
.app-list .point-back .text-title img {
    width: 90%;
    max-width: 980px;
    padding: 24px 0px 32px 0px;
}
.image {
    float: left;
}
.app-text {
    overflow: hidden;
    padding: 8px;
    padding-top: 10px;
    padding-bottom: 11px;
}
.app-list .list .more-btn, .all-app .list .more-btn {
    background-color: #fff;
    color: #212121;
    text-align: right;
    padding-right: 0px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0);
}
.gift-text {
    color: #05a2eb !important
}
.all-app .bottom {
    padding: 0px;
}
.all-app .bottom .ad-large {
    margin-bottom: 32px;
}
/*///////////////////
^^^^^^^^^^^^^^^^^^^^^
^^^^^^^^^^^^^^^^^^^^^
  app-all.html
^^^^^^^^^^^^^^^^^^^^^
^^^^^^^^^^^^^^^^^^^^^
///////////////////*/

.all-app .ranking {
    margin-top: 16px;
    margin-bottom: 16px;
}
.all-app .ranking .text-title {
    text-align: center;
}
.all-app .ranking .text-title img {
    padding-top: 16px;
}
.dropdown-padding {
    padding: 0px 8px;
}
.dropdown {
    max-width: 480px;
    margin: 0 auto;
    height: 46px;
    margin-bottom: 8px!important
}
.all-app .dropdown button {
    width: 100%;
    text-align: left;
    border: 0px solid #fff;
    font-weight: bold;
    border-radius: 2px;
    border: 0px solid red;
    line-height: 46px;
    font-size: 12px;
    margin-bottom: 8px;
}
.all-app .dropdown button:hover {
    background-color: #F8F8F8 !important
}
.all-app .dropdown button:active {
    background-color: #F8F8F8 !important
}
.dropdown-menu {
    box-shadow: 0px 1px 3px rgba(0,0,0,0.16) !important;
}
.btn {
    padding: 0px 8px;
}
.btn-default {
    color: #212121;
    background-color: #fff;
    border-color: #fff;
}
.all-app .dropdown button:hover {
    border: 0px solid #fff;
}
.all-app .dropdown img {
    display: block;
    float: right;
    margin-top: 18px;
    height:7px;
    width: 12px;
}
.dropdown-menu {
    width: 100%
}
.dropdown ul li a {
    width: 100%;
    font-size: 12px;
    line-height:36px;
}
.dropdown ul li a:hover {
    width: 100%;
    background-color: #F8F8F8 !important
}
.date-padding {
    padding: 0px 8px
}
.date-box {
    margin: 0 auto;
}
.date {
    width: 100%;
    margin: 0px;
    max-width: 480px;
    display: inline-block;
    margin-bottom: 8px;
}
.date li a {
    text-align: center;
    float: left;
    width: 33.333%;
    font-size: 12px;
    line-height: 42px;
}
.date li a:hover {
    color:#212121;
    border-bottom: 4px solid #DADADA
}
.date .active,  .date .active:hover {
    font-weight: bold;
    color: #eb5505;
    border-bottom: 4px solid #eb5505
}
 @media only screen and (min-width: 496px) {
.bottom, .container-min, .ranking .animation, .gift .container-min, .gift .container-min, .point-back, .ranking .list, .category .list, .auid .list, .game-top__ranking ,.hyperlink-button_group{
    max-width: 496px;
    margin: 0 auto
}
.bottom, .date-box, .manual, .list-gift {
    max-width: 480px;
}
.manual {
    margin:32px auto;
}
.list-gift {
    margin:0px auto 32px auto;
}
#slides {
    border-radius: 2px;
}
.banner {
    padding: 0px;
}
.date-box {
    margin-bottom: 8px;
}
.ranking .list, .category .list {
    max-width: 480px;
}
}
/*///////////////////
  ranking
///////////////////*/
.contens-body {
    background-color: #f3f3f3;
}
/*///////////////////
  error
///////////////////*/
.text__error {
    padding: 70px 10px;
    text-align: center;
    background: #fff;
}
/*////////////////////
faq
////////////////////*/

.faq .text-title img {
    width: 80px
}
.faq .headline {
    height:39px;
}
.faq .list {
    margin-top: 16px;
    font-size: 12px;
}
.faq .first {
    margin-top: 0px;
}
.faq h3 {
    left: 8px;
}
.faq li {
    padding: 16px 0px;
    border-top: 1px solid #dfdfdf
}
.faq li:first-child {
    border-top: 0px solid #dfdfdf
}
.faq .box {
    display: inline-block;
    width: 100%;
    position: relative;
}
.box p {
    float: left;
}
.marker {
    width: 20px;
    position: absolute;
    left: 8px;
    font-weight: bold;
    line-height: 1.4;
}
.q .marker {
    color:#eb5505
}
.a .marker {
    color:#05b8eb
}
.faq .text {
    line-height: 1.4;
    margin-left: 24px;
    padding-right: 8px;
}
.q .text {
    font-weight: bold;
}
.faq a {
    color: #000b9e
}
.faq a:hover {
    text-decoration: underline;
    background-color: #fff
}
/*////////////////////

manual-all

////////////////////*/


.manual-all .text-title img {
    width: 280px;
}
.manual-all .headline {
    height:39px;
}
.manual-all .headline h3 {
    left: 8px;
}
.manual-all .list img {
    width: 45px;
    height: 45px;
}
.manual-all .list {
    margin-top: 16px;
}
.manual-all .first {
    margin-top: 0px;
}
.manual-all .app-text {
    padding: 10px;
    padding-left: 50px;
}
.app-text.app-list-top {
    padding-left: 10px;
}
/*////////////////////

manual-single

////////////////////*/

.operation-top-title {
    max-width: 480px;
    margin: 0 auto;
    font-weight:bold;
    margin-bottom: 16px;
    margin-top: 16px;
    padding-left: 16px;
}
.operation {
    line-height: 1.4;
}
.operation .list>div:nth-child(2) {
    margin-top: 6px;
}
.operation .list {
    padding-bottom: 32px;
}
.operation-btn-box {
    padding: 0px 8px;
    margin-top: 8px;
    color: #fff;
}
.operation-button {
    margin: 0 auto;
    display: block;
    width: 80%;
    text-align: center;
    font-size: 14px;
    height: 40px;
    color: #fff;
    line-height: 40px;
    font-weight: bold;
    background-color: #16b856;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.24);
    border-radius: 3px;
}
.operation-button:hover {
    color: #fff;
    background-color: #128a41;
}
.operation .headline img {
    width: 45px;
    height: 45px;
}
.operation .headline .title {
    position: absolute;
    left: 61px;
    font-size: 16px
}
.operation h3 {
    color: #333;
    position: relative;
    left: 0px;
    width: 100%;
}
.operation .headline p {
    margin-top: 20px;
    position: relative;
    font-size: 12px;
    color: #8d8d8d
}
.operation .list .headline h3{
    line-height: 1em;
    padding-top: 4px;
}
h3.no_img{
    left: 8px;
}
.headline .arrow{
    display: block;
    float: right;
    margin: 8px 0;
    height: 7px;
    width: 12px;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}
.special-gift {
    padding: 0px 8px;
    width: 100%;
    margin-top: 32px;
}
.special-gift .headline {
    padding: 8px;
    color: #fff;
    font-size: 11px;
    width: 100%;
    font-weight: bold;
    background-color: #eb5505
}
.special-gift .headline img {
    width: 10px;
    margin-right: 4px;
    height: auto;
    margin-top: 1px;
    line-height: 27px;
}
.special-gift p {
    padding: 16px;
    font-size: 16px;
    color: #eb5505;
    line-height: 1.4;
    font-weight: bold;
    width: 100%;
    background-color: #f3f3f3
}
.step-icon-box {
    margin: 0px 8px
}
.step-icon {
    display: inline-block;
    line-height: 1;
    margin-top: 32px;
    font-weight: bold;
    width: 100%;
    border-bottom: 2px solid #009e98
}
.step-icon p {
    padding: 0;
    background-color: #009e98;
    color:#fff;
    font-size: 11px;
    float: left;
    width: 80px;
    height: 27px;
    line-height: 27px;
    text-align: center;
}
.step-icon img {
    float: left;
    height: 100%;
    width: auto;
    height: 27px;
}
.step-icon a {
    float: right;
    font-size: 10px;
    color:#000b9e;
    font-weight: normal;
    height: 27px;
    line-height: 27px;
}
.step-title {
    line-height: 1.4;
    font-size: 16px;
    padding: 0px 8px;
    font-weight: bold;
    margin-top: 8px;
}
.step-text {
    font-size: 14px;
    padding: 0px 8px;
    color: #666;
    margin-top: 8px;
}
.step-text a {
    text-decoration: underline;
    color: #000b9e !important;
}
.operation .red {
    font-weight: bold;
    color: #eb0505
}
.step-text a {
    text-decoration: underline;
    color: #000b9e
}
.step-ul {
    color: #666;
    line-height: 1.2;
    font-size: 14px;
    margin-left: 24px;
}
.step-ul li {
}
.step-ul li:last-child {
    margin-bottom: 0px;
}
.step-ul li:before {
    content: "- ";
}
.step-text-small {
    color: #666;
    line-height: 1.2;
    font-size: 10px;
    padding: 0px 8px;
    margin-top: 4px;
}
.step-text-small li:before {
    content: "※";
}
.step-img {
    width: 100%;
    padding: 0px 8px;
    border-radius: 3px;
    margin-top: 8px;
    text-align: center;
}
.step-img img {
    width: 80%;
}
.step-bg-gray {
    width: 100%;
    display: inline-block;
    padding: 0px 8px;
    margin-top: 8px;
}
.step-bg-gray p {
    border-radius: 3px;
    background-color: #f3f3f3;
    padding: 8px;
}
.step-bg-gray .title {
    font-weight: bold;
    margin-bottom: 4px;
}
.bg_gray-free {
    background-color: #f3f3f3;
}
.bg_gray-free span {
    display: block;
    padding: 15px;
}
.anchor-button {
    padding: 0px 8px;
    display: inline-block;
    margin-top: 8px;
}
.anchor-button a {
    display: block;
    float: left;
    padding: 8px 14px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.24);
    border-radius: 3px;
    font-weight: bold;
}
.anchor-button .left {
    color: #fff !important;
    background-color: #1d8bca;
    margin-right: 8px;
}
.anchor-button .right {
    color: #fff !important;
    background-color: #bdbf2b;
}
.anchor-left-title, .anchor-right-title {
    padding: 0px 8px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 16px;
}
.anchor-left-title:before,  .anchor-right-title:before {
    content: "■";
}
.anchor-left-title {
    color: #1d8bca;
}
.anchor-right-title {
    color: #bdbf2b;
}
.title-dot {
    font-weight: bold;
    padding: 0px 8px;
    font-size: 16px;
    margin-top: 16px;
}
.title-dot:before {
    content: "●";
}
.list-num {
    padding: 0px 8px 0px 28px;
    margin-bottom: 0px;
    color: #666;
    list-style-type: decimal;
}
.list-num li {
    margin-top: 16px;
}
.list-text {
padding: 30px 10px 0 10px;
}
.operation ol img {
    margin-left: -20px !important;
}
.ac_menu {
    　　width: 300px;
    　　padding: 0;
    　　margin: 0;
    　　list-style: none;
    　　border-radius:7px;
    　　border: 1px solid #aaaaaa;
}
.ac_menu p {
    　　color: #ffffff;
    　　font-size: 16px;
    　　line-height: 3.0;
    　　padding-left: 10px;
    　　margin: 0;
}
.toggle_menu {
    　　cursor: pointer;
    　　background-color: #b2b2b2;
}
.open_close {
    　　display: block;
}
.close_open {
    　　display: none;
}
.oya_1 {
    　　color: #ffffff;
    　　font-size: 14px;
    　　line-height: 3.0;
    　　background-color: #c3c3c3;
}
.oya_2 {
    　　color: #ffffff;
    　　font-size: 14px;
    　　line-height: 3.0;
    　　background-color: #d4d4d4;
}
.ad10p {
    　　padding-left: 10px;
}
nav li {
    　　font-size: 14px;
    　　line-height: 3.0;
    　　cursor: pointer;
    　　width: 100%;
    　　background-color: #e5e5e5;
    　　border-top: 1px solid #aaaaaa;
    　　display: block;
}
nav li a {
    　　color: #555555;
    　　padding-left: 10px;
    　　display: block;
}
nav li a:hover {
    　　color: #0000FF;
}
.accordion {
    margin: 0px 8px;
    background-color: #098EB5;
    border-radius: 3px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.24);
    color: #fff;
    line-height: 44px;
    margin-top: 8px;
}
.accordion ul {
    display: none;
}
.accordion>li>ul>li>p {
    cursor: pointer;
    padding: 0px 8px;
}
.accordion>li>p {
    padding: 0px 8px;
}
.accordion li {
    cursor: pointer;
}
.accordion>li {
    border-top: 1px solid #44A5C1;
}
.accordion>li>b {
    padding-left: 8px;
}
.accordion>li:first-child {
    border-top:  0px solid #cfd8dc;
}
.accordion>li>ul>li {
    border-top: 1px solid #cfd8dc;
    background-color: #eceff1;
}
.accordion .title-dot {
    font-weight: bold;
    padding: 0px 8px;
    font-size: 14px;
    margin-top: 0px;
    line-height: 44px;
}
.accordion .title-dot:before {
    content: "";
}
.accordion>li>ul>li>ul {
    border-top: 1px solid #cfd8dc;
    background-color: #fff
}
.accordion>li>ul>li>ul {
    padding: 32px 0px;
}
.accordion>li>ul>li>ul>li {
    background-color: #fff;
    margin-top: -8px;
    line-height: 1.4
}
ul.accordion > li > p span {
    background-image: url(../img/arrow-open.png);
    background-repeat:no-repeat;
    background-size: auto 8px;
    background-position: right center;
    width: 100%;
    display: block;
    color: #fff;
    font-weight: bold;
    -webkit-background-size: auto 8px;
    -moz-background-size: auto 8px;
    -o-background-size: auto 8px;
    -ms-background-size: auto 8px;
}
ul.accordion > li > p span.open {
    background-image: url(../img/arrow-close.png);
    background-size: auto 8px;
    -webkit-background-size: auto 8px;
    -moz-background-size: auto 8px;
    -o-background-size: auto 8px;
    -ms-background-size: auto 8px;
}
ul.accordion > li > ul > li > p span {
    background-image: url(../img/arrow-open-2.png);
    background-repeat:no-repeat;
    background-size: auto 8px;
    background-position: right center;
    width: 100%;
    display: block;
    -webkit-background-size: auto 8px;
    -moz-background-size: auto 8px;
    -o-background-size: auto 8px;
    -ms-background-size: auto 8px;
}
ul.accordion > li > ul > li > p span.open {
    background-image: url(../img/arrow-close-2.png);
    background-repeat:no-repeat;
    background-size: auto 8px;
    background-position: right center;
    width: 100%;
    display: block;
    -webkit-background-size: auto 8px;
    -moz-background-size: auto 8px;
    -o-background-size: auto 8px;
    -ms-background-size: auto 8px;
}
/*****************
  adtag
******************/
.game-ad01 {
    width:320px;
    height:50px;
    position:relative;
    text-align:center;
    overflow:hidden;
    margin:1px auto 0;
    display: block;
}
.game-ad02 {
    height:100px;
    position:relative;
    text-align:center;
    overflow:hidden;
    margin:20px auto 0;
    border-top:1px solid #e2e2e2;
    border-bottom:1px solid #e2e2e2;
    padding:10px 0;
    display: block;
}
.game-ad03 {
    width:300px;
    height:250px;
    position:relative;
    text-align:center;
    overflow:hidden;
    margin:10px auto;
    display: block;
}

/*sidemenuのadとbootstrap.min.cssのバッティング回避用*/
.sidemenu-ad-box{
    -webkit-box-sizing: initial;
}

/*****************
  carousel
******************/
.owl-theme .owl-controls{
    margin-top: 10px;
    text-align: center;
}

/* Styling Next and Prev buttons */
.owl-theme .owl-controls .owl-buttons div{
    color: #FFF;
    display: inline-block;
    zoom: 1;
    display: inline;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    filter: Alpha(Opacity=50);
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
    filter: Alpha(Opacity=100);
    opacity: 1;
    text-decoration: none;
}
.owl-prev {
    position: absolute;
    top: 40%;
    left: 10px;
}
.owl-next {
    position: absolute;
    top: 40%;
    right: 10px;
}
/* Styling Pagination*/
.owl-theme .owl-controls .owl-page{
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.owl-theme .owl-controls .owl-page span{
    display: block;
    width: 8px;
    height: 8px;
    margin: 5px 7px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #212121;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #eb5505;
}

/* If PaginationNumbers is true */
.owl-theme .owl-controls .owl-page span.owl-numbers{
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

/*///////////////////
  app-grid
///////////////////*/
.t-grid.top-grid {
    padding-bottom: 18px;
}
.t-grid.top-grid img {
    background: none;
    height: 90px;
    width: 90px;
}
.t-grid__3columns.top-grid {
    width: 100%;
    display: table;
}
.t-grid__3columns.top-grid p {
    font-size: 12px !important;
    word-wrap: break-word;
}

/*///////////////////
  flipdesk css 上書き
///////////////////*/
.js-t-wrapper {
    z-index: 200000;
}

.flipdesk-trigger-content:after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 50%;
    margin-left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid #16b656;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.flipdesk.flipdesk_target_width_mobile .flipdesk-trigger .flipdesk-trigger-content .flipdesk-trigger-content-icon,
#flipdesk_chat-extra-btn.flipdesk_chat-extra-btn_mobile,.flipdesk.flipdesk_target_width_pc .flipdesk-trigger .flipdesk-trigger-content .flipdesk-trigger-content-icon, #flipdesk_chat-extra-btn.flipdesk_chat-extra-btn_pc{
    border-radius: 4px !important;
}
.flipdesk.flipdesk_target_width_mobile .flipdesk-trigger .flipdesk-trigger-content-icon:after, #flipdesk_chat-extra-btn.flipdesk_chat-extra-btn_mobile:after {
    padding:0 0 0 15px !important;
}

.mfp-content .flipdesk_direct_message.flipdesk_direct_message_54:after, .flipdesk_direct_message_preview .flipdesk_direct_message.flipdesk_direct_message_54:after {
    background-image: none !important;
}

.mfp-content .flipdesk_direct_message:after{
    background-image: none !important;
}

.flipdesk_direct_message_content{
    background-color: #eb5505;
}
.flipdesk_direct_messsage_body_title{
    color:#FFF !important;
    display:-webkit-box;
    -webkit-box-align: center;
    line-height:1.6em;
    margin-top:0 !important;
    -webkit-box-flex: 1;
    font-size:20px;
}

.flipdesk_direct_messsage_body_title--small{
    font-size: 16px;
}

.flipdesk_direct_messsage_body_title:before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../img/flipdesk/head_icon.png);
    background-size: 30px auto;
    margin-right: 3px;
}


.flipdesk_direct_message_content{
    padding:8px 10px !important;
    box-sizing:border-box;
}

.flipdesk_direct_message_body_lists {
    background-color: #FFF;
    margin-top: 8px;
}

.flipdesk_direct_message_body_list {
    padding: 5px;
    border-bottom: 1px solid #CCC;
}

.flipdesk_direct_message_body_list:last-child {
    border-bottom: none;
}

.flipdesk_direct_message_body_list a{
    display: -webkit-box;
}

.flipdesk_direct_message_body_list__image {
    width: 60px;
    height: 60px;
}

.flipdesk_direct_message_body_list__content {
    margin: 5px;
    -webkit-box-flex: 1;
}

.flipdesk_direct_message_body_list__title {
    font-size: 16px !important;
    font-weight: bold;
    padding:0 0 3px 0;
}

.flipdesk_direct_message_body_list__text {
    color: #666;
    font-size:12px;
    line-height:1.2em;
}

.mfp-wrap .mfp-content .flipdesk_direct_message .flipdesk_direct_message_content div {
    width: auto !important;
    height: auto !important;
    position: relative !important;
}
.mfp-content a{
    text-decoration: none !important;
}
.mfp-close{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.flipdesk_direct_message_table__image{
    width: 100%;
    margin-top: 8px;
}

.mfp-arrow,.mfp-arrow-right,.mfp-arrow-left {
    display:none !important;
}
