<div class="gq-quiz-check">
    <div class="gq-quiz-check__inner">
        <div class="gq-quiz-check__title">
            こちらもチェック！
        </div>
        <div class="gq-quiz-check__link">
            <a class="gq-quiz-check__banner" href="#"><img src="//stg.cdn-img.auone.jp/game/img/quiz/banner/norikae_600x100.png" alt="" width="100%"></a>
            <a class="gq-quiz-check__banner" href="#"><img src="//stg.cdn-img.auone.jp/game/img/quiz/banner/shoshinsya_600x100.png" alt="" width="100%"></a>
        </div>
    </div>
</div>
