@charset "UTF-8";
// ===================================================================
// 既存のgame-top.css
// ===================================================================
@import "compass";

/*
#### ポイント表示
*/
.wrap-block_point {
    background: #fff;
    padding: 0 8px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.24);
}

.block_point {
    max-width: 480px;
    margin: 0 auto;
    display: -webkit-box;
    width: 100%;
    padding: 10px 0;
    box-align: center;
    -webkit-box-align: center;
    a {
        display: block;
    }
}

.block_point {
    .block_left {
        text-align: center;
        width: 40%;
        height: 34px;
        border-style: solid;
        border-color: #e2e2e2;
        border-width: 1px 0 1px 1px;
        border-radius: 2px 0 0 2px;
    }
    .block_right {
        text-align: right;
        width: 60%;
        height: 34px;
        line-height: 32px;
        border: solid 1px #e2e2e2;
        border-radius: 0 2px 2px 0;
        padding-right: 10px;
        font-size: 20px;
    }
    .block_login{
        text-align: center;
        width: 60%;
        height: 34px;
        border: solid 1px #e2e2e2;
        border-radius: 0 2px 2px 0;
    }
    span {
        margin-right: .5em;
        letter-spacing: 0.1em;
    }
}

.nav {
    box-shadow: 0 0 0 rgba(0,0,0,0) !important;
}

/*
#### ABテスト　バッジicon追加
*/
.badge-icon {
    .grid__inner-wrap {
        display: -webkit-box;
        display: box;
    }
    .grid__inner-left{
        display: block;
        width: 30px;
        height: 30px;
        margin: 5px 1px 0 0;
    }
    .grid__inner-right {
        -webkit-box-flex: 1;
        margin-top: 5px;
    }
    .grid__inner-left{
        text-indent: -9999px;
        background-image: url(../img/common/sprite_badge-icon.png);
        background-repeat: none;
        background-size: 30px auto;
        -webkit-background-size: 30px auto;
    }
}

.badge-favored { background-position: 0 0;}
.badge-new { background-position: 0 -55px;}
.badge-recommend { background-position: 0 -110px;}
.badge-battle { background-position: 0 -165px;}
.badge-lady { background-position: 0 -220px;}
.badge-sports { background-position: 0 -275px;}
.badge-rpg { background-position: 0 -330px;}

/*
#### 20150301　改善施策
*/
.game-top__slide {
    margin-bottom: 10px;
}

.hyperlink-button_group {
    padding: 0 8px;
    margin: 8px auto 0 auto;
    overflow: hidden;
    a {
        display: block;
        text-align: center;
        font-size: 12px;
        color: #333;
        height: 44px;
        line-height: 34px;
        margin-bottom: 8px;
        padding: 5px 3px;
        border-radius: 4px;
        border: 1px solid #b9b9b9;
        background: #eee;
        background: linear-gradient(#fff 0%, #eee 100%);
        background: -webkit-linear-gradient(white 0%, #eee 100%);
        background: -webkit-gradient(linear, left top, left bottom, from(white), to(#eee));
        box-shadow: 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 0 0 rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1);
        clear: both;
    }
    li a {
        margin-right: 8px;
    }
    li:last-child a {
        margin-right: 0;
    }
}

.game-top__ranking {
    .game-top__order {
        text-align: center;
        font-size: 12px;
        padding-bottom: 5px;
    }
    .top-grid {
        padding-bottom: 0;
    }
}

.game-top__column {
    margin-top: 10px;
}

.game-top__pagetop {
    display: block;
    text-align: right;
    line-height: 3em;
    padding-right: 8px;
}

.game-top__pagetop.text-white {
    color: white;
}

.game-top__headline {
    border-bottom: 1px solid #dfdfdf;
}

.contens-body .t-bx__wrapper {
    margin-bottom: 10px;
}

// ===================================================================
// add for 前後-test
// ===================================================================

@mixin recommend-icon__sprite ($horizontal,$vertical) {
    width: 60px;
    height: 60px;
    background-position: $horizontal $vertical;
}

.list--mb10 {
    margin-bottom: 10px;
    .list .top-grid--bt0 {
        padding-bottom: 0;
    }
}

.t-grid__column {
    .game-top__order--icon {
        @extend .game-top__order;
        text-align: center;
        margin-bottom: 5px;
        img {
            width: 30px;
            height: 30px;
        }
    }
    .game-top__order--icon-mt0 {
        @extend .game-top__order;
        text-align: center;
        margin-top: 0;
        margin-bottom: 5px;
        img {
            width: 30px;
            height: 30px;
            .game-top__order--recommend-icon {
                width: 30px;
                height: 30px;
                margin: 0 auto;
            }
        }
    }
}

.icon-display--b {
    display: block;
}

.t-grid__column .game-top__order--icon-mt0 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;
}

.t-grid__column .game-top__order--icon-mt0 .game-top__order--recommend-icon {
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

.ajax__loader {
    height: 180px;
    padding-top: 70px;
    text-align: center;
}

/* おすすめ枠スプライトアイコン */
.recommend-icon {
    background: url(../img/recommend_icon.png) no-repeat;
    background-size: 105px;
    -webkit-background-size: 105px;
    display: block;
}

.recommend-icon__a01 {
    @include recommend-icon__sprite(-2px,-2px);
}

.recommend-icon__a02 {
    @include recommend-icon__sprite(-38px,-2px);
}

.recommend-icon__a03 {
    @include recommend-icon__sprite(-73px,-2px);
}

.recommend-icon__b01 {
    @include recommend-icon__sprite(-2px,-38px);
}

.recommend-icon__b02 {
    @include recommend-icon__sprite(-38px,-38px);
}

.recommend-icon__b03 {
    @include recommend-icon__sprite(-73px,-38px);
}

.recommend-icon__c01 {
    @include recommend-icon__sprite(-2px,-72px);
}

.recommend-icon__c02 {
    @include recommend-icon__sprite(-38px,-72px);
}

.recommend-icon__c03 {
    @include recommend-icon__sprite(-73px,-72px);
}
