@charset "UTF-8";

// ------------------------------------
// ベンダープレフィックス
// ------------------------------------
$experimental-support-for-webkit : true !default;
$experimental-support-for-mozilla : false !default;
$experimental-support-for-opera : false !default;
$experimental-support-for-microsoft : false !default;
$support-ie6: false;
$support-ie7: false;
$support-ie8: false;

//----------------------------------------------------
//  import
//----------------------------------------------------
@import "compass";

// スプライト
$btn: sprite-map('lp/pointday/sprites/btn/*.png', $layout: vertical);
$sprites-btn: sprite-url($btn);


// mixin
@mixin backgroundSize($value) {
    -webkit-background-size: $value;
    background-size: $value;
}
@mixin boxSizing{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
@mixin boxPack{
	-webkit-box-pack: center;
	box-pack: center;
}
@mixin boxAlign{
	-webkit-box-align: center;
	box-align: center;
}
@mixin boxShadow($value){
	-webkit-box-shadow: $value;
	box-shadow: $value;
}
@mixin displayBox{
	display: -webkit-box;
    display: box;
}
@mixin subContents{
	border: 2px solid #5b2400;
	background: #fff;
	margin:0 10px 20px;
	@include border-radius(10px);
}
@mixin title{
	padding: 3px 6px 8px 3px;
	text-align: left;
	@include border-radius(7px 7px 0 0 );
}
@mixin sprite-background($name, $sprites, $sprites-img) {
    background-image: $sprites-img;
    $x: round(nth(sprite-position($sprites, $name), 1) / 2);
    $y: round(nth(sprite-position($sprites, $name), 2) / 2);
    background-position: $x $y;
    $w: image-width(sprite-path($sprites)) / 2;
    $h: image-height(sprite-path($sprites)) / 2;
    @include backgroundSize($w $h);
    $name: smart;
}


// コンテンツ
body{

	line-height: 1.3em;
}
.lppb-wrapper{
	font-size: 14px;
	max-width: 480px;
	margin: 0 auto;
	a{
		-webkit-tap-highlight-color: rgba(0,0,0,0.20);
	}
}
.lppb-main-img{
	margin-top:3px;
	img{
		width:100%;
	}
}
.lppb-main-contents{
	border-top: 2px  solid #d4b111;
	border-bottom: 2px  solid #d4b111;
    @include background(linear-gradient(#fff6d3, #ffeb90));
}

.lppb-main-contents__btn{
	margin: 20px 0;
 	a{
		display:block;
		width: 275px;
		height: 60px;
		margin: 0 auto;
		overflow: hidden;
		text-indent: 100%;
		white-space: nowrap;
		@include sprite-background(point_specification, $btn, $sprites-btn);
	}
}
.lppb-exchenge-item{
	border: 2px solid #ef5b02;
	background: #fff;
	margin:0 10px 20px;
	@include border-radius(10px);
}
.lppb-exchenge-item__title{
	@include title;
	@include background(linear-gradient(#ff940b, #ef5c02));
}


.lppb-sub-contents{
	padding:20px 0 5px;
    background: url(../img/lp/pointday/bg_sub_contents.png) repeat;
    @include backgroundSize(14px);
}
.lppb-sub-contents__btn{
	margin: 0;
	width: 265px;
	height: 50px;
	position: relative;
	margin: 0 auto;
	border: 2px solid #888;
	@include background(linear-gradient(top,  #fdfdfd 39%,#e3e3e3 91%,#fdfdfd 99%));
	@include boxSizing;
	@include border-radius(5px);
	@include boxShadow(0 4px rgba(0,0,0, 0.20));
	:after{
			content: '';
			display: block;
			position: absolute;
  			right: 10px;
  			top: 20px;
			@include sprite-background(game_top_arrow, $btn, $sprites-btn);
			width: 7px;
			height: 10px;
		}
 	a{
		padding: 15px 0;
		display: block;
   		width: 100%;
   		text-align: center;
   		font-weight: bold;
	}
}
.lppb-reward-points{
	@include subContents;
}

.lppb-reward-points__title{
	@include title;
	@include background(linear-gradient(#783000, #5d2400));
}
.lppb-reward-points__btn{
	margin: 20px 0 10px;
 	a{
		display:block;
		width: 265px;
		height: 50px;
		margin: 0 auto;
		overflow: hidden;
		text-indent: 100%;
		white-space: nowrap;
		@include sprite-background(game_list, $btn, $sprites-btn);
	}
}

.lppb-transfer{
	@include subContents;
	h4{
		 padding: 3px 5px 5px 10px;
		 background: url(../img/lp/pointday/bg_h4.png) repeat;
		 text-align: left;
		 margin-bottom: 10px;
		 @include backgroundSize(14px);
		 @include border-radius(10px);
	}
}
.lppb-transfer__title{
	@include title;
	@include background(linear-gradient(#783000, #5d2400));
}
.lppb-transfer__btn{
	margin: 20px 0;
 	a{
		display:block;
		width: 265px;
		height: 50px;
		overflow: hidden;
		margin: 0 auto;
		@include sprite-background(howto_transfer, $btn, $sprites-btn);
		overflow: hidden;
		text-indent: 100%;
		white-space: nowrap;
	}
}
.lppb-transfer__bnr{
	a{
		display: block;
		width: 100%;
		padding: 0 0 10px 0;
	}
}

.txt-orange{
  color: #ff5400;
}
.full{
  width: 100%;
}
.pd10{
	padding: 10px;
}
.pb10{
	padding-bottom: 10px;
}
.pb15{
	padding-bottom: 15px;
}
.mg30{
  margin: 30px;
}
